.baner {
  float: left;  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: #212121;
  width:100%;
  height: calc(100vh);

 
}
.baner__headline {
  font-size: em(80);
  font-weight: 100;
  color: #f2f2f2a8;
  margin-top: 65px;
}
.baner__headline__typed {
 // text-decoration: underline;
  font-weight: 400;
}
.particles-js-canvas-el {
  position: absolute;
}