header {
    position: relative;  
    z-index: 20;
    height: 60px;  
    padding: 10px 10px;
    background: $color-primary;
    img {
        height: 40px;       
    }
    @include media(md) { 
        height: 115px;  
        padding: 25px 0;
        img {
            height: auto;
        }
    }
}