.menu-primary {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    transform:  translate3d(0, -300px, 0);
    width: 100%;
    background: #212121;
    margin: 0;
    padding-top: 0px;
    @include media(md) { 

        position: static;
        transform: none;
        background: transparent;
        width: auto;
        margin: 0;
        padding-top: 0;
    }
   
}


.menu {
    list-style: none;
    display: block;
    padding: 8px 15px 9px 15px;
    margin: 0;
   
    @include media(md) { 
        box-sizing: content-box;
        display: flex;
    }
}
.menu__item {
    border: solid 2px transparent;
    a {
        display: block;
        padding: 9px 10px;
        font-size: em(20);
        text-decoration: none;
        font-weight: 100;
        color: #f2f2f2a8;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: color 200ms;
        &:hover {
          color: #ffffff;

        } 
        
        @include media(md) { 
          padding: 11px 7px;
          font-size: em(16);
        }
        @include media(lg) { 
          padding: 9px 10px;
          font-size: em(20);
        }
    }
}
.menu-sign-up {
    border: solid 2px #184795;
    text-transform: uppercase;
    a:hover {
        background: rgba(24, 71, 149, 1);
        color: #ffffff;
    }
}




.menu-buton__img {
    display: block;
    position: absolute;
    z-index: 10;
    right: 14px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDQ1OSA0NTkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ1OSA0NTk7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0ibWVudSI+CgkJPHBhdGggZD0iTTAsMzgyLjVoNDU5di01MUgwVjM4Mi41eiBNMCwyNTVoNDU5di01MUgwVjI1NXogTTAsNzYuNXY1MWg0NTl2LTUxSDB6IiBmaWxsPSIjRkZGRkZGIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
    background-size: cover;
    cursor: pointer;
    @include media(md) { 
        display: none;
    }
}
.menu-buton:checked + .menu-buton__img  {
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDM1NyAzNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM1NyAzNTc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iY2xvc2UiPgoJCTxwb2x5Z29uIHBvaW50cz0iMzU3LDM1LjcgMzIxLjMsMCAxNzguNSwxNDIuOCAzNS43LDAgMCwzNS43IDE0Mi44LDE3OC41IDAsMzIxLjMgMzUuNywzNTcgMTc4LjUsMjE0LjIgMzIxLjMsMzU3IDM1NywzMjEuMyAgICAgMjE0LjIsMTc4LjUgICAiIGZpbGw9IiNGRkZGRkYiLz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
}
.menu-buton {
    position: relative;
    
    display: block;
    z-index: 20;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    border: none;
    visibility: hidden;
    @include media(md) { 
        display: none;
    }
    
}
.menu-buton:checked ~ .menu-primary .menu {
    display: block;
}
.menu-buton:active:not(:checked) ~ .menu-primary {

   // animation: hidemenu 600ms;
}
.menu-buton:checked ~ .menu-primary {
    margin-top: 60px;
    transform: translate3d(0, 0, 0); 
    animation: showmenu 600ms;
}
@keyframes hidemenu {
    0% {
      transform: translate3d(0, 0, 0); 
      
      opacity: 100%;
    }
    100% {
      transform:  translate3d(0, -300px, 0);
      opacity: 0;
    }
  }
@keyframes showmenu {
    0% {
      transform:  translate3d(0, -300px, 0);
      opacity: 0;
    }
    100% {
      transform:  translate3d(0, 0, 0); 
      opacity: 100%;
    }
  }
